<div class="card flex justify-content-center">
  <p-button label="Check" icon="pi pi-check" [disabled]="isDisable"></p-button>
</div>   

<textarea 
    rows="5"
    cols="30" 
    pInputTextarea
    [value]="url"
    >
</textarea>

<img [src]="imageUrl" alt="Dynamic Image">
<h1 [ngStyle]="styles">Hello Angular</h1>
-------------------------------------------------------------------------
<app-class-binding></app-class-binding>
-------------------------------------------------------------------------
<h1>Style binding</h1>
<app-style-binding></app-style-binding>

<h1>event binding from here</h1>

<app-event-binding></app-event-binding>


<h1>template-reference-variable</h1>
<app-template-reference-variable></app-template-reference-variable>